* {
  max-width: 100vw;
  max-height: 200vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #f4f4f4;
  width: 100vw;
  z-index: inherit;
  position: fixed;
  padding: 0 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-options {
  display: flex;
  gap: 1rem;
}