.landing-content {
  display: flex;
  flex-direction: column;
}

.lading-presentation-screen,
.lading-aboutus-screeen {
  min-height: 100vh;
  width: 100vw;
}

.lading-presentation-screen {
  background: linear-gradient(180deg, white, #99a5b3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.lading-presentation-button {
  position: relative;
  bottom: -20vh;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lading-presentation-button:hover, .lading-aboutus-form-button:hover {
  background-color: #35c9dd;
  color: white;
  scale: 1.1;
}

.lading-presentation-tittle {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.lading-aboutus-screeen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(180deg, #99a5b3, #697a82);
}

.lading-aboutus-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin: auto;
}

.lading-aboutus-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
} 

.lading-aboutus-tittle {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.lading-aboutus-form-button {
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s;
}

